---
import Seo from "../components/Seo.astro";
import { Image } from "astro:assets";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <script>
      import { showToast } from "../components/toast";
      (() => {
        const els = [...document.querySelectorAll("form")];
        if (!els?.length) return;
        els.forEach((el) => {
          console.log("Test 1");
          el.addEventListener("submit", async (e) => {
            console.log("Test 2");
            e.preventDefault();
            const formData = new FormData(e.target);
            const formObject = Object.fromEntries(formData);
            formObject.emailUser = "contact@destidurable.com";
            console.log("formObject", formObject);
            console.log("Test 3");
            try {
              console.log("Test 4");
              const response = await fetch(
                "https://app.ecobuilder.io/api/send-mail-contact",
                {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(formObject),
                }
              );
              console.log("Test 5");
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }
              console.log("Test 6");
              const result = await response.json();
              showToast("Merci, votre demande a été envoyée.");
              console.log("Form submitted successfully:", result);
            } catch (error) {
              console.error("Error submitting form:", error);
              showToast("Erreur lors de la soumission du formulaire", "error");
            }
          });
        });
      })();
    </script>
    <Seo
      seo={{
        title: "Contact - Desti’durable",
        description:
          "Contactez-nous pour toute question sur nos formations et immersions dédiées au tourisme durable. Ensemble, construisons un avenir plus éco-responsable.",
        keywords: "eco-responsable, destination tourisme durable, éthique",
        canonical: "https://destidurable.com/",
        image:
          "https://destidurable.com/images/1735896410105_desti_durable_logo.png",
        type: "Website",
        themeColor: "#ffffff",
      }}
    />
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="https://destidurable.com/images/1735896410105_desti_durable_logo.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header
      class="flex flex-col relative shrink-0 box-border h-auto empty:min-h-[30vh] before:content-['Header'] before:absolute before:top-0 before:left-0 before:inline-block before:py-1 before:px-2 before:bg-black/20 before:text-white before:text-sm before:rounded before:!rounded-tl-none before:!rounded-bl-none mb-[1px] header-section"
    >
      <div
        class="header-component bg-[#F6F8F6]"
        aria-label="Header Desti'Durable Section"
      >
        <div class="max-md:max-w-full px-4 py-4">
          <div class="mx-auto container 2xl:max-w-[1440px]">
            <div
              class="flex items-center justify-between w-full"
              aria-label="Header content container"
            >
              <div aria-label="Logo Container">
                <a
                  href="/"
                  class="flex items-center space-x-2"
                  aria-label="Go to homepage"
                >
                  <div class="relative" aria-label="Logo image container">
                    <Image
                      alt="Gaiact Company Logo"
                      src="/images/dd_logo_2.svg"
                      width="134.75"
                      height="70"
                      class="w-[134.75px] h-[70px] object-cover max-w-full"
                      loading="lazy"
                      aria-label="Desti'Durable Logo"
                    />
                  </div>
                </a>
              </div>
              <div aria-label="Contact button container">
                <a
                  class="rounded-full inline-flex items-center justify-center bg-[#FFB84C] px-12 h-[44px] text-[#252525] hover:bg-[#ffa01c]"
                  aria-label="Button for more info on Hero Desti Durable"
                  href="/contact">Contactez-nous</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main
      class="flex flex-col relative shrink-0 box-border h-auto empty:min-h-[30vh] before:content-['Main'] before:absolute before:top-0 before:left-0 before:inline-block before:py-1 before:px-2 before:bg-black/20 before:text-white before:text-sm before:rounded before:!rounded-tl-none before:!rounded-bl-none mb-[1px] main-section"
    >
      <section
        class="main-component flex flex-col overflow-hidden bg-[#F6F8F6] relative"
        aria-label="Contact Desti Durable Section"
      >
        <div class="max-md:max-w-full px-2 py-16">
          <div class="w-full p-4 mx-auto container 2xl:max-w-[1440px] relative">
            <h1
              class="text-[#252525] text-center font-bold leading-normal text-2xl md:text-3xl lg:text-[44px] mb-12"
            >
              Contactez-nous
            </h1>
            <div
              class="w-full max-w-6xl bg-white rounded-2xl overflow-hidden flex flex-col md:flex-row shadow-lg mx-auto"
            >
              <div class="w-full md:w-5/12 bg-white relative p-5">
                <div class="h-full relative">
                  <div class="absolute inset-0 rounded-2xl overflow-hidden">
                    <Image
                      alt="Desti'Durable Contact Background"
                      src="/images/dd_contact_bg.webp"
                      width="400"
                      height="300"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <div class="space-y-6 z-10 relative min-h-full p-5">
                    <Image
                      alt="Desti'Durable Logo White"
                      src="/images/dd_logo_white.webp"
                      width="153"
                      height="80"
                      class="mx-auto"
                    />
                    <div
                      class="flex items-center justify-center lg:justify-start space-x-2 text-white"
                    >
                      <Image
                        alt="Desti'Durable Sms Icon"
                        src="/images/dd_sms_icon.webp"
                        width="24"
                        height="24"
                        class="w-6 h-6"
                      />
                      <a
                        href="mailto:contact@destidurable.com"
                        class="underline">contact@destidurable.com</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full md:w-7/12 p-5 lg:p-8">
                <form aria-label="Form Inner Container" class="space-y-6">
                  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div class="space-y-2">
                      <label for="prenom" class="block text-sm font-medium"
                        >Prénom*</label
                      >
                      <input
                        name="firstName"
                        class="h-10 w-full border-0 border-b border-gray-300 py-2 ring-offset-background bg-white focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-ring focus-visible:ring-offset-0 disabled:cursor-not-allowed disabled:opacity-50 px-0"
                        placeholder="Prénom"
                        required=""
                        aria-label="Prénom"
                      />
                    </div>
                    <div class="space-y-2">
                      <label for="nom" class="block text-sm font-medium"
                        >Nom*</label
                      >
                      <input
                        name="lastName"
                        class="h-10 w-full border-0 border-b border-gray-300 py-2 ring-offset-background bg-white focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-ring focus-visible:ring-offset-0 disabled:cursor-not-allowed disabled:opacity-50 px-0"
                        placeholder="Nom"
                        required=""
                        aria-label="Nom"
                      />
                    </div>
                  </div>
                  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div class="space-y-2">
                      <label for="email" class="block text-sm font-medium"
                        >Email*</label
                      >
                      <input
                        name="email"
                        class="h-10 w-full border-0 border-b border-gray-300 py-2 ring-offset-background bg-white focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-ring focus-visible:ring-offset-0 disabled:cursor-not-allowed disabled:opacity-50 px-0"
                        placeholder="Email"
                        type="email"
                        required=""
                        aria-label="Email"
                      />
                    </div>
                    <div class="space-y-2">
                      <label for="entreprise" class="block text-sm font-medium"
                        >Nom de l&#x27;entreprise</label
                      >
                      <input
                        name="companyName"
                        class="h-10 w-full border-0 border-b border-gray-300 py-2 ring-offset-background bg-white focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-ring focus-visible:ring-offset-0 disabled:cursor-not-allowed disabled:opacity-50 px-0"
                        placeholder="Nom de l'entreprise"
                        required=""
                        aria-label="Nom de l'entreprise"
                      />
                    </div>
                  </div>
                  <div class="space-y-2">
                    <label for="message" class="block text-sm font-medium"
                      >Message</label
                    >
                    <textarea
                      rows="4"
                      name="message"
                      placeholder="Write your message.."
                      class="h-10 w-full border-0 border-b border-gray-300 py-2 ring-offset-background bg-white focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-ring focus-visible:ring-offset-0 disabled:cursor-not-allowed disabled:opacity-50 px-0 resize-none !h-auto"
                    ></textarea>
                  </div>
                  <div class="flex justify-center !mt-16 !mb-16 lg:!mb-24">
                    <button
                      type="submit"
                      class="px-16 min-h-[44px] inline-flex items-center justify-center bg-[#F5B544] text-[#252525] rounded-full hover:bg-[#ffa01c] transition-colors"
                      >Envoyer</button
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer
      class="flex flex-col relative shrink-0 box-border h-auto empty:min-h-[30vh] before:content-['Footer'] before:absolute before:top-0 before:left-0 before:inline-block before:py-1 before:px-2 before:bg-black/20 before:text-white before:text-sm before:rounded before:!rounded-tl-none before:!rounded-bl-none mb-[1px] footer-section"
    >
      <section class="bg-white" aria-label="Footer Desti Durable Section">
        <div aria-label="Footer Wrapper">
          <div class="p-4">
            <div class="mx-auto container 2xl:max-w-[1440px]">
              <div
                class="flex flex-col items-center justify-between gap-6 md:flex-row"
                aria-label="Footer Content"
              >
                <div class="flex items-center gap-2" aria-label="Footer Logo">
                  <Image
                    alt="Desti'Durable Logo"
                    src="/images/dd_logo_2.svg"
                    width="196"
                    height="100"
                    class="w-auto h-auto"
                    aria-label="Desti'Durable Logo Image"
                  />
                </div>
                <form
                  class="flex flex-col gap-4 lg:w-full max-w-xl"
                  aria-label="Footer Email Form"
                >
                  <div class="flex w-auto lg:w-full max-w-xl gap-4">
                    <input
                      type="email"
                      placeholder="Adresse e-mail"
                      class="flex-1 rounded-lg border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                      aria-label="Email Input Field"
                    />
                    <button
                      type="submit"
                      class="inline-flex items-center justify-center rounded-full bg-[#FFB84C] px-12 h-[44px] text-[#252525] transition-all hover:bg-[#ffa01c]"
                      aria-label="Submit Button">Envoyer</button
                    >
                  </div>
                  <a href="/mentions-legales" class="underline text-[#252525]"
                    >Mentions légales</a
                  >
                </form>
              </div>
            </div>
          </div>
          <p class="border-t border-[#bbb]"></p>
          <div class="mx-auto container 2xl:max-w-[1440px]">
            <p
              class="text-center text-sm text-[#252525] p-5"
              aria-label="Footer Copyright Text"
            >
              ©
              <!-- -->2025
              <!-- --> DESTI&#x27;DURABLE - Site web créé par la société GreenWeb.
              L&#x27;ensemble des données est stocké en France par Digital Forest,
              hébergeur éco-responsable.
            </p>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
